<header>
  <div class="header-logo">
    <a href="/project4"><img id="ctx-logo" src="img/certinax-logo1.svg" alt="certinax-logo"></a>
  </div>
  <div class="header-title">
    <h1>Computer science</h1>
    <p>- TensorFlow.js</p>
  </div>
  <div class="header-links">
    <nav>
      <ul>
        <li class={{home}}><a class="btn" href="/project4">Home</a></li>
        <li class={{getStarted}}><a class="btn" href="/project4/get-started">Get Started</a></li>
        <li class={{demo}}><a class="btn" href="/project4/demo">Demo</a></li>
        <li class={{about}}><a class="btn" href="/project4/about">About</a></li>
      </ul>
    </nav>
    <div class="link-container">
      <a href="https://github.com/Certinax/f2019cst336/tree/master/public/project1" target="_blank"><img
          class="ext-link-logo" src="img/github-logo.svg" alt="Github logo"></a>
      <a href="https://no.linkedin.com/in/mathias-lund-ahrn-9a8623173?trk=people-guest_profile-result-card_result-card_full-click"
        target="_blank"><img class="ext-link-logo" src="img/linkedin-logo.svg" alt="Linked logo"></a>
    </div>
  </div>
</header>