.title {
  font-family: "Lato", sans-serif;
  color: #f9f9f9;
  font-size: 1.6rem;
}

p {
  font-family: "Raleway", sans-serif;
}

#orihgas:hover,
#mezzoforte:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

@media (max-width: 748px) {
  #logo {
    width: 60px;
    height: 30px;
  }

  .title {
    font-size: 1.1rem;
  }
}
