* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Lato", sans-serif;
}

p,
h4 {
  font-family: "Raleway", sans-serif;
}

header {
  height: 100px;
  padding: 0 8px;
  background-color: #1b6880;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-evenly;
}

header div {
  flex-basis: 0;
  flex-grow: 1;
}

header h1 {
  color: #f9f9f9;
  letter-spacing: 2px;
}

#ctx-logo {
  width: 150px;
  height: 60px;
  display: block;
}

.header-links {
  display: flex;
  flex-direction: column;
}

.header-logo {
  padding: 20px 0;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-title p {
  font-family: "Raleway", sans-serif;
  color: #4ec9b0;
}

nav {
  display: flex;
  flex-basis: 0;
  flex-grow: 4;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0.6em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  display: block;
}

nav ul li {
  display: inline-block;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 0.2em;
  color: #f9f9f9;
}

.active {
  border-bottom: 1px solid #f9f9f9;
}

.active:hover {
  transition: 0.2s;
  border-bottom: 1px solid #4ec9b0;
}

.btn:hover {
  transition: 0.2s;
  color: #4ec9b0;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2px;
}

.ext-link-logo {
  width: 30px;
  height: 30px;
  margin: 0 2px;
}

.ext-link-logo:hover {
  transition: 0.2s;
  filter: invert(1);
}

.main-container {
  margin: 20px auto;
  width: 700px;
}

.main-card {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.first-column {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
}

.first-row {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-row img {
  margin-top: 10px;
  width: 70px;
  height: 70px;
}

.second-row {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 15px 0 15px 15px;
}

.fact-box {
  background-color: #e8e8e8;
  padding: 10px 15px;
  border: 1px solid #1b6880;
}

.second-column {
  flex-basis: 0;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.about-box {
  display: flex;
  width: 80%;
  height: 100%;
  background-color: #f9f9f9;
  justify-content: center;
  align-items: center;
}

.about-box a {
  color: black;
}

.one-column {
  width: 100%;
  margin: 30px 30px;
  padding: 15px;
  background-color: #f9f9f9;
}

.one-column hr {
  margin: 10px auto;
  border: 0;
  border-top: 1px solid #1b6880;
  width: 60%;
}

.text-content {
  padding: 15px;
}

.text-content ul {
  margin-top: 10px;
  padding-left: 60px;
}

.text-content a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

.text-content a:hover {
  transition: 0.2s;
  color: #1b6880;
}

footer {
  height: 100px;
  background-color: #1b6880;
  display: flex;
  justify-content: space-evenly;
  color: #f9f9f9;
  font-size: 0.7em;
}

.box1 {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  padding-left: 10px;
}

.box2 {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.box3 {
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.box3 a {
  text-decoration: none;
  color: #f9f9f9;
}

.box3 a:hover {
  color: #4ec9b0;
  border-bottom: 1px solid;
  transition: 0.2s;
}

.box3 hr {
  width: 30%;
  margin: 5px 0 3px 0;
}

#tensor-pic {
  display: block;
  width: 300px;
  margin: 0 auto;
}

pre {
  margin-top: 5px;
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 5px;
}

.grid-container {
  margin-top: 15px;
  display: grid;
  grid-gap: 10px;
  justify-content: space-evenly;
}

.grid-container img {
  width: 250px;
  height: 200px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.item1 {
  grid-row-start: 1;
  grid-column-start: 1;
}

.item2 {
  grid-row-start: 1;
  grid-column-start: 2;
}

.item3 {
  grid-row-start: 2;
  grid-column-start: 1;
}

.item4 {
  grid-row-start: 2;
  grid-column-start: 2;
}
