<div class="main-container">
  <div class="main-card">
    <div class="first-column">
      <div class="first-row">
        <img src="img/tensorflow_logo.png" alt="Profile picture">
      </div>
      <div class="second-row">
        <div class="fact-box">
          <h4>TensorFlow</h4>
          <br>
          <p>Developed in 2011</p>
        </div>
      </div>
    </div>
    <div class="second-column">
      <div class="about-box">
        <p>
          TensorFlow started out as a project at google back in 2012. It was developed for their machine learning / deep
          mind library. After a 3 years they open-sourced the code under
          <a href="https://en.wikipedia.org/wiki/Apache_License" target="_blank">Apache License</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="main-card">
    <div class="one-column">
      <h4 style="text-align: center">History</h4>
      <hr>
      <div class="text-content">
        <p>Initially TensorFlow was only available for JavaScript through an API where the machine learning model was
          enabled on a server. A client had to send JavaScript request in order to get results.
          <br><br>Couple of years later, in 2017, Deeplearn.js was released which had the goal to achieve the machine
          learning models without using an API. Due to performance issues and that JavaScript cannot be run on GPU,
          WebGL was introduced. This is a browser version og OpenGL which enable the possibility to run JavaScript code
          on the GPU.
          <br><br> In 2018 Deeplearn.js got merged into Google's TensorFlow project.</p>
        <br>
        <p>Source</p>
        <a href="https://www.freecodecamp.org/news/get-to-know-tensorflow-js-in-7-minutes-afcd0dfd3d2f/"
          target="_blank">[Link] Freecodecamp article</a>
      </div>
    </div>
  </div>
</div>