<div class="main-container">
  <div class="main-card">
    <div class="one-column">
      <h4 style="text-align: center">List of demo's</h4>
      <hr>
      <div class="text-content">
        <p>It has been developed a ton of projects based on TensorFlow.js. Some of them are linked here. Click on the
          pictures to test the models.</p>
        <div class="grid-container">
          <div class="item1">
            <a href="https://storage.googleapis.com/tfjs-vis/mnist/dist/index.html" target="_blank"><img
                src="img/visualizeml.png" alt="Visualization ML"></a>
          </div>
          <div class="item2">
            <a href="https://emojiscavengerhunt.withgoogle.com/" target="_blank"><img src="img/emojiscavenge.png"
                alt="Emoji Scavenger Hunt"></a>
          </div>
          <div class="item3">
            <a href="https://magenta.tensorflow.org/demos/performance_rnn/index.html" target="_blank"><img
                src="img/performancernn.png" alt="Performance RNN"></a>
          </div>
          <div class="item4">
            <a href="https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html"
              target="_blank"><img src="img/webcamcontroller.png" alt="Webcam Controller"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>