<div class="main-container">
  <div class="main-card">
    <div class="first-column">
      <div class="first-row">
        <img src="img/tensorflow_logo.png" alt="Profile picture">
      </div>
      <div class="second-row">
        <div class="fact-box">
          <h4>TensorFlow.js</h4>
          <br>
          <p>A library for machine learning in JavaScript</p>
        </div>
      </div>
    </div>
    <div class="second-column">
      <div class="about-box">
        <p>
          This is a library where you can develop Machine Learning models in JavaScript and use it directly in the
          browser. The library is built on top of the TensorFlow which is based on C++. It is developed by the Google
          Brain team.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="main-card">
    <div class="one-column">
      <h4 style="text-align: center">How it works</h4>
      <hr>
      <div class="text-content">
        <p>There are three major ways you can use this library</p>
        <ul>
          <li><a href="https://www.tensorflow.org/js/models/" target="_blank">Run existing models</a></li>
          <li><a href="https://www.tensorflow.org/js/tutorials/transfer/what_is_transfer_learning"
              target="_blank">Retrain existing models</a></li>
          <li><a href="https://www.tensorflow.org/js/tutorials" target="_blank">Develop ML with JavaScript</a></li>
        </ul>
        <br />
        <p>This site will include a page with links to demos and how to get started.</p>
        <br />
        <p>Source</p>
        <a href="https://www.tensorflow.org/" target="_blank">[Link] TensorFlow official website</a>
      </div>
    </div>
  </div>
</div>